<app-page-header>
  <ng-container pageEyebrow i18n="@@about.eyebrow">À propos</ng-container>
  <ng-container pageTitle i18n="@@about.title"
    >Une équipe produit, pas une agence de plus</ng-container
  >
  <ng-container pageLede i18n="@@about.lede">
    Notre vision, notre mission, notre façon de travailler et les technologies sur lesquelles nous
    nous engageons.
  </ng-container>
</app-page-header>

<div class="mx-auto max-w-6xl px-4 pb-16 sm:px-6">
  <app-scaffold-note>
    <p i18n="@@about.scaffold">Contenu à rédiger : vision, mission, approche, technologies.</p>
  </app-scaffold-note>
</div>
